
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html{
    font-family: 'Open Sans',serif;
    height: 100%;
    background-image: url("/assets/back.png");
    background-size: cover;

}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.8);
}

.hero{
    position: relative;
    height: 80%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%)
}
.nav{
    position: relative;
    top: 15%;
}

.nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white; 
    margin: 0.25em;
    font-size: 80%
}

.nav a:hover, .nav a:focus{
    color: rgb(126, 126, 126); 
}