<section class="container list estate" >
    {{ $taxo := false }}
    <article style="padding-top: 5%;" >
        {{- if eq .Kind "taxonomy" -}}
            {{ $taxo = true }}
            <h1 class="title" style="margin:0 !important;" > {{- i18n .Data.Singular | title -}} {{- print ": " -}}</h1>
        {{- end -}}
        <h1 class="title glitchtitle" style="margin:0 !important;" data-text="{{ .Title }}" >{{ .Title }}</h1>
        <div class="thelist" >
            {{ $type := .Params.slug }}
            <ul style="display: table; width: 100%; padding: 1%;" >
            {{ $listt := .Paginator.Pages }}
            {{ if .Params.top_level }}
                {{ $listt = first 4 (where (where .Site.Pages ".Params.type" "==" $type) ".Params.status" "==" "published" ) }}
            {{ else if $taxo }}
                {{ $listt = where .Paginator.Pages ".Params.status" "==" "published" }}
            {{ end }}
                <table style="width: 100%;">
                    {{ range $listt }}
                    {{ $pagelink := .Params.ExternalLink | default .RelPermalink }}
                        <tr style="cursor: pointer;" onclick="myhref('{{ $pagelink }}');">
                            <td class="table_hide" style="background-color: var(--bg-color); text-align: right; border: 0px; width: 20%; padding: 0;">
                                <span style="padding: 1%; color: var(--bg-color); background-color:{{ .Params.style.accent }};">
                                    &nbsp;{{ .Date.Format (.Site.Params.dateFormat | default "January 1, 2020" ) }}&nbsp;
                                </span>
                            </td>
                            <td class="table_show" style="background-color: var(--bg-color); text-align: right; border: 0px; padding: 0;">
                                <span style="padding: 1%; color: var(--bg-color); background-color:{{ .Params.style.accent }};">
                                    &nbsp;>>&nbsp;
                                </span>
                            </td>
                            <td style="background-color: var(--bg-color); text-align: left; font-weight: bold; border: 1px solid var(--bg-color); padding: 0.2%; padding-left:2%;">
                                <a href="{{ $pagelink }}">
                                    {{ .Title }}
                                </a>
                            </td>
                         <style>
                            @media only screen and (max-width : 768px) { .table_hide { display: none !important}; }
                            @media only screen and (min-width : 768px) { .table_show { display: none !important}; }
                         </style>
                        </tr>
                    {{ end }}
                </table>
            </ul>
            {{ partial "pagination.html" . }}
        </div>
        {{ $thedir := "content/" }} {{ with .File }} {{ $thedir = (path.Join $thedir .Dir) }} {{ end }}
        {{ if .Params.folders }}
            <h3 style="padding-top: 5%; margin:0 !important;" > Folders on: {{ .File.Dir }} </h1>
            <div class="mainflex" >
                    <div class="innerflex" >
                    {{ range (readDir $thedir) }}
                        {{ if .IsDir }}
                        <div style="margin:1%; padding:.2%; border-radius: 5px; with:100%; color: var(--bg-color); background-color: var(--accent-color); cursor: pointer;" onclick="flexref('/posts/{{ .Name }}');">
                            <div style="border: 1px dashed var(--bg-color); border-radius: 5px; padding:.5%;" >
                                <i class="far fa-folder" style="padding:.5%; display: block; float: left;"></i>
                                <div class="listertitle" style="font-size: 1em;" >{{ .Name }}</div>
                                <!-- <div class="listerdetail" style="font-size: 70%;" > -->
                                <!--     <span style="display:inline-block;" ><span > Date: </span><span style="background-color: var(--bg-color); color: var(--accent-color);" > --- </span></span> <span >|</span> -->
                                <!--     <span style="display:inline-block;" > <span > Category: </span> <span style="background-color: var(--bg-color); color: var(--accent-color);" > --- </span></span> <span >|</span> -->
                                <!--     <span style="display:inline-block;" ><span > Series: </span> <span style="background-color: var(--bg-color); color: var(--accent-color);" > --- </span></span><span >|</span> -->
                                <!-- </div> -->
                                <script type="text/javascript"> function myhref(web) {window.location.href = web;} </script>
                            </div>
                        </div>

                        {{ end }}
                    {{ end }}
                    </div>
                <script type="text/javascript">
                    function flexref(web) {
                        window.location.href = web;
                    }
                </script>
            </div>
        {{ end }}

        <div>
            {{ .Content }}
        </div>
    </article>
</section>
