<a class="p-2" href="{{ .Permalink }}">
    <div class="relative" style="background-color: var(--accent-color);">
        {{ $theme := "#000000" }}
        {{ if eq .Params.style.theme "light" }} {{ $theme = "#FFFFFF" }} {{ end }}
            <div class="card_image">
                {{ if .Params.thumbnail }}
                <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="card_image" />
                {{ else }}
                <img src="/images/logo_post.png" alt="{{ .Params.title }}" class="card_image" />
                {{ end }}
            </div>
            <div class="card_date" style="background-color: {{ .Params.style.accent }}; color: {{ $theme }};"> 
                {{ .Params.date.Format "Jan 2, 06" }} 
            </div>
            <div class="card_time" style="background-color: {{ .Params.style.accent }}; color: {{ $theme }};">
                <i class="fas fa-clock"></i> {{ .ReadingTime }}' 
            </div>
            <div>
                <hr style="border-top: .13em dashed var(--bg-color);" />
            </div>
            <!-- <hr \> -->
            <div class="card_box">
                <div class="card_title" style="background-color: var(--accent-color);">
                    {{ .Params.title }}
                </div>
            </div>
    </div>
</a>
