// Base settings for all themes that can optionally be overridden by the super-theme
@font-face {
    font-family: 'Novacento Sans Wide';
    src: url("../fonts/Novecentosanswide-UltraLight-webfont.eot");
    src: url("../fonts/Novecentosanswide-UltraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Novecentosanswide-UltraLight-webfont.woff2") format("woff2"), url("../fonts/Novecentosanswide-UltraLight-webfont.woff") format("woff"), url("../fonts/Novecentosanswide-UltraLight-webfont.ttf") format("truetype"), url("../fonts/Novecentosanswide-UltraLight-webfont.svg#novecento_sans_wideultralight") format("svg");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Iosevka Term SS01';
    src: url("../fonts/iosevka-term-ss01-light.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Daytona';
    src: url("../fonts/Daytona_Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}
// Fonts

$text-font-family: 'Daytona', Georgia, serif;
$heading-font-family: 'Daytona', Helvetica, sans-serif;
$thin-font-family: 'Novacento Sans Wide', Helvetica, sans-serif;
$code-font-family: 'Iosevka Term SS01', 'Lucida Console', monospace;

:root{
    --accent-color: #ff9000;
    --bg-color: #080a0f;
    --glitch-color: blue;
    --fg-color: #fafafa;
}

// Background of the presentation
$backgroundColor: var(--bg-color);

// Primary/body text
$mainFont: 'Daytona', sans-serif;
$mainFontSize: 40px;
$mainColor: var(--fg-color);

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Daytona', Impact, sans-serif;
$headingColor: var(--accent-color);
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: #13DAEC;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
