<section class="container centered estate" >
    <section class="homesection" >
        <section class="me" >
        <div class="about" id="nodec">
            <div class="avatar">
                {{ with .Site.Params.avatarurl }}
                <div class="logo" style="cursor: pointer;" ><img src="{{ . | relURL }}" alt="avatar" onmouseover="hover_avatar(this);" onmouseout="unhover_avatar(this);" onclick="myhref('/logo');" ></a></div>
                <script type="text/javascript">
                    function hover_avatar(element) {
                        element.setAttribute('src', '/images/bresilla.svg');
                    }
                    function unhover_avatar(element) {
                        element.setAttribute('src', '{{ . | relURL }}');
                    }
                    function myhref(web) {
                        window.location.href = web;
                    }
                </script>
            </div>
            </style>
            {{ end }}
            <div class="brand" >
                <div class="author" >
                        <a href="/logo" class="nametext glitchtitle" data-text="{{ .Site.Params.author }}" >
                            {{ .Site.Params.author }}
                        </a>
                </div>
                <div class="info" >
                    <div class="infochild" >
                        <h2 class="typewriter" data-text= "{{ .Site.Params.info }}"></h2>
                    </div>
                </div>
            </div>
            {{ with .Site.Params.social }}
            <div class="socials" >
                {{ range sort .}}
                    {{ if .icon }}
                    <li>
                        <a class="textglitch" data-text="{{ .unicode }}" href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
                        <i class="{{ .icon }}" aria-hidden="true"></i>
                        <!-- {{ .unicode }} -->
                        </a>
                    </li>
                    {{ else }}
                    <li>
                        <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>{{ .name }}</a>
                    </li>
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
            <div class="latest" style="padding-top:5%;" >
                {{ range first 1 (where .Site.Taxonomies.type.post ".Params.status" "==" "published") }}
                <div class="latestchild" style="width: 100%; border-radius: 5px; border: 1px dashed var(--accent-color); background-color:var(--bg-color); color: var(--accent-color); cursor: pointer;" onclick="myhref('{{ .Page.RelPermalink }}');" >
                    <div class="latesttag" style="padding:1%; text-align:center;" >
                        LATEST POST: {{ .Page.Title }}
                    </div>
                </div>
                    {{ end }}
            </div>
        </div>
        </section>
    </section>
</section>
