<section class="container centered estate" {{ if .Params.width }} style="--real-estate:{{ .Params.width }};" {{ else if .Site.Params.width }} style="--real-estate:{{ .Site.Params.width }};" {{ end }}>
  <div class="about" id="nodec">
    <div class="avatar">
        {{ with .Site.Params.avatarurl }}
        <div class="logo" style="cursor: pointer;" ><img src="{{ . | relURL }}" alt="avatar" onmouseover="hover_avatar(this);" onmouseout="unhover_avatar(this);" onclick="myhref('/logo');" ></a></div>
        <script type="text/javascript">
            function hover_avatar(element) {
                element.setAttribute('src', '/images/bresilla.svg');
            }
            function unhover_avatar(element) {
                element.setAttribute('src', '{{ . | relURL }}');
            }
            function myhref(web) {
                window.location.href = web;
            }
        </script>
    </div>
    </style>
    {{ end }}
    <div class="brand" >
        <div class="author" >
                <a href="/logo" class="nametext glitchtitle" data-text="{{ .Site.Params.author }}" >
                    {{ .Site.Params.author }}
                </a>
        </div>
        <div class="info" >
            <h2 class="typewriter" data-text= "{{ .Site.Params.info }}"></h2>
        </div>
    </div>
    {{ with .Site.Params.social }}
    <div class="socials" >
        {{ range sort .}}
            {{ if .icon }}
            <li>
                <a class="textglitch" data-text="{{ .unicode }}" href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
                <i class="{{ .icon }}" aria-hidden="true"></i>
                <!-- {{ .unicode }} -->
                </a>
            </li>
            {{ else }}
            <li>
                <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>{{ .name }}</a>
            </li>
            {{ end }}
        {{ end }}
    </div>
    {{ end }}
  </div>
</section>
